* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Teko', sans-serif;
}

.header-bg {
    background-image: url(../images-logo/pizza-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-bg {
    background-image: url(../images-logo/happy-hour.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ul-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.my-h {
    height: 300px;
}
.menu-bg-img {
    background-image: url(../images-logo/menu-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.op {
    opacity: 0.9;
}
